@{
    ViewBag.Title = "About";
}
    <div class="container-fluid no_pl_320">
        <div class="left_fix_panel">
             <div class="logo_sec">
            <div class="inner_outline">
                <div class="logo-row">
                    <img src="https://joinaap.in/public_inc/images/lagerahokejrwal.png">
                </div>

            </div>
        </div> 
        </div>


        <!-- signup form area -->
        <div class="signup_page_sec">
            <div class="form_area">
               

                <h2 class="inner_pghdng mt-5">
                    Why Join AAP ?
                    <span>The Aam Aadmi Party has set an example of good governance by delivering on all its promises in the last five years, first of its kind in our nation. It has shown that elections can be fought and won based on the work done.</span>

                    <span>Aam Aadmi Party welcomes people from all the walks of life who believe in our ideology and want to contribute to the development of the nation.</span>
                </h2>
                <h2 class="inner_pghdng mt-5">
                    हमसे क्यों जुड़े?
                    <span>आम आदमी पार्टी ने पिछले 5 वर्षों में अपने सभी वादों को पूरा कर सुशासन की मिसाल कायम की और दुनिया को ये दिखाया है कि काम के आधार पर भी चुनाव लड़ा और जीता जा सकता है।</span>

                    <span>आम आदमी पार्टी एक ऐसी पार्टी है जिसने हमेशा सभी वर्गों के लोगों का स्वागत किया है, और यह संदेश दिया है कि शिक्षित लोग राजनीति में उतर कर समाज में एक बदलाव ला सकते हैं।</span>
                </h2>
                <!-- <p class="highlight_message mt-4">
                            Whether you are based in Delhi and can help us on ground or you are based outside Delhi but have the zest to help the party, we are ready to welcome you to Team <b>Lage Raho Kejriwal</b>.<br>
            So let's get in touch and get started!            </p> -->

                <h3><span>Please fill the below details ( कृपया नीचे विवरण भरें ) :</span></h3>



                <form action="https://joinaap.in/index/volunteersubmit" class="aapRegForm" method="post" id="volunteersubmit">
                    <div class="form_box volunteerpart1">

                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input_field">
                                    <label>Name ( नाम )</label>
                                    <input type="text" name="name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input_field">
                                    <label>Email ID ( ईमेल आईडी )</label>
                                    <input type="email" name="email" class="vfemail">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input_field">
                                    <label>Country ( देश )</label>
                                    <select class="custom-select countryselect" name="country">
                                        <option value="Afghanistan" data-code="93">Afghanistan(+93)</option>
                                        <option value="Albania" data-code="355">Albania(+355)</option>
                                        <option value="Algeria" data-code="213">Algeria(+213)</option>
                                        <option value="American Samoa" data-code="684">American Samoa(+684)</option>
                                        <option value="Andorra" data-code="376">Andorra(+376)</option>
                                        <option value="Angola" data-code="244">Angola(+244)</option>
                                        <option value="Dominican Republic" data-code="809">Dominican Republic(+809)</option>
                                        <option value="Swaziland" data-code="268">Swaziland(+268)</option>
                                        <option value="Argentina" data-code="54">Argentina(+54)</option>
                                        <option value="Armenia" data-code="374">Armenia(+374)</option>
                                        <option value="Aruba" data-code="297">Aruba(+297)</option>
                                        <option value="Ascension Island" data-code="247">Ascension Island(+247)</option>
                                        <option value="Australia" data-code="61">Australia(+61)</option>
                                        <option value="Australian External Territories" data-code="672">Australian External Territories(+672)</option>
                                        <option value="Austria" data-code="43">Austria(+43)</option>
                                        <option value="Azerbaijan" data-code="994">Azerbaijan(+994)</option>
                                        <option value="Congo" data-code="242">Congo(+242)</option>
                                        <option value="Diego Garcia" data-code="246">Diego Garcia(+246)</option>
                                        <option value="Bahrain" data-code="973">Bahrain(+973)</option>
                                        <option value="Bangladesh" data-code="880">Bangladesh(+880)</option>
                                        <option value="Belarus" data-code="375">Belarus(+375)</option>
                                        <option value="Belgium" data-code="32">Belgium(+32)</option>
                                        <option value="Belize" data-code="501">Belize(+501)</option>
                                        <option value="Benin" data-code="229">Benin(+229)</option>
                                        <option value="Bhutan" data-code="975">Bhutan(+975)</option>
                                        <option value="British V.I." data-code="284">British V.I.(+284)</option>
                                        <option value="Bolivia" data-code="591">Bolivia(+591)</option>
                                        <option value="Bosnia and Hercegovina" data-code="387">Bosnia and Hercegovina(+387)</option>
                                        <option value="Botswana" data-code="267">Botswana(+267)</option>
                                        <option value="Brazil" data-code="55">Brazil(+55)</option>
                                        <option value="Brunei Darussalm" data-code="673">Brunei Darussalm(+673)</option>
                                        <option value="Bulgaria" data-code="359">Bulgaria(+359)</option>
                                        <option value="Burkina Faso" data-code="226">Burkina Faso(+226)</option>
                                        <option value="Burundi" data-code="257">Burundi(+257)</option>
                                        <option value="Khmer Republic (Cambodia/Kampuchea)" data-code="855">Khmer Republic (Cambodia/Kampuchea)(+855)</option>
                                        <option value="Cameroon" data-code="237">Cameroon(+237)</option>
                                        <option value="USA" data-code="1">USA(+1)</option>
                                        <option value="Cape Verdi" data-code="238">Cape Verdi(+238)</option>
                                        <option value="Cayman Islands" data-code="345">Cayman Islands(+345)</option>
                                        <option value="Central African Republic" data-code="236">Central African Republic(+236)</option>
                                        <option value="Chad" data-code="235">Chad(+235)</option>
                                        <option value="Chile" data-code="56">Chile(+56)</option>
                                        <option value="China (People's Republic)" data-code="86">China (People's Republic)(+86)</option>
                                        <option value="Taiwan" data-code="886">Taiwan(+886)</option>
                                        <option value="Colombia" data-code="57">Colombia(+57)</option>
                                        <option value="Mayolte" data-code="269">Mayolte(+269)</option>
                                        <option value="Cook Islands" data-code="682">Cook Islands(+682)</option>
                                        <option value="Costa Rica" data-code="506">Costa Rica(+506)</option>
                                        <option value="Croatia" data-code="385">Croatia(+385)</option>
                                        <option value="Cuba" data-code="53">Cuba(+53)</option>
                                        <option value="Cyprus" data-code="357">Cyprus(+357)</option>
                                        <option value="Czech Republic" data-code="420">Czech Republic(+420)</option>
                                        <option value="Denmark" data-code="45">Denmark(+45)</option>
                                        <option value="Dominca" data-code="767">Dominca(+767)</option>
                                        <option value="Djibouti" data-code="253">Djibouti(+253)</option>
                                        <option value="Ecuador" data-code="593">Ecuador(+593)</option>
                                        <option value="Egypt" data-code="20">Egypt(+20)</option>
                                        <option value="El Salvador" data-code="503">El Salvador(+503)</option>
                                        <option value="Equatorial Guinea" data-code="240">Equatorial Guinea(+240)</option>
                                        <option value="Eritrea" data-code="291">Eritrea(+291)</option>
                                        <option value="Estonia" data-code="372">Estonia(+372)</option>
                                        <option value="Ethiopia" data-code="251">Ethiopia(+251)</option>
                                        <option value="Falkland Islands" data-code="500">Falkland Islands(+500)</option>
                                        <option value="Faroe (Faeroe) Islands (Denmark)" data-code="298">Faroe (Faeroe) Islands (Denmark)(+298)</option>
                                        <option value="Fiji" data-code="679">Fiji(+679)</option>
                                        <option value="Finland" data-code="358">Finland(+358)</option>
                                        <option value="Monaco" data-code="33">Monaco(+33)</option>
                                        <option value="Martinique (French Antilles)" data-code="596">Martinique (French Antilles)(+596)</option>
                                        <option value="French Guiana" data-code="594">French Guiana(+594)</option>
                                        <option value="Gabon (Gabonese Republic)" data-code="241">Gabon (Gabonese Republic)(+241)</option>
                                        <option value="Gambia" data-code="220">Gambia(+220)</option>
                                        <option value="Georgia" data-code="995">Georgia(+995)</option>
                                        <option value="Germany" data-code="49">Germany(+49)</option>
                                        <option value="Ghana" data-code="233">Ghana(+233)</option>
                                        <option value="Gibraltar" data-code="350">Gibraltar(+350)</option>
                                        <option value="Greece" data-code="30">Greece(+30)</option>
                                        <option value="Greenland" data-code="299">Greenland(+299)</option>
                                        <option value="Montserrat" data-code="473">Montserrat(+473)</option>
                                        <option value="Guam" data-code="671">Guam(+671)</option>
                                        <option value="Guatemala" data-code="502">Guatemala(+502)</option>
                                        <option value="Guinea" data-code="224">Guinea(+224)</option>
                                        <option value="Guinea-Bissau" data-code="245">Guinea-Bissau(+245)</option>
                                        <option value="Guyana" data-code="592">Guyana(+592)</option>
                                        <option value="Haiti" data-code="509">Haiti(+509)</option>
                                        <option value="Honduras" data-code="504">Honduras(+504)</option>
                                        <option value="Hong Kong" data-code="852">Hong Kong(+852)</option>
                                        <option value="Hungary" data-code="36">Hungary(+36)</option>
                                        <option value="Iceland" data-code="354">Iceland(+354)</option>
                                        <option value="India" data-code="91" selected="">India(+91)</option>
                                        <option value="Indonesia" data-code="62">Indonesia(+62)</option>
                                        <option value="Iran" data-code="98">Iran(+98)</option>
                                        <option value="Iraq" data-code="964">Iraq(+964)</option>
                                        <option value="Ireland (Irish Republic; Eire)" data-code="353">Ireland (Irish Republic; Eire)(+353)</option>
                                        <option value="Israel" data-code="972">Israel(+972)</option>
                                        <option value="Vatican City" data-code="39">Vatican City(+39)</option>
                                        <option value="Ivory Coast (La Cote d'Ivoire)" data-code="225">Ivory Coast (La Cote d'Ivoire)(+225)</option>
                                        <option value="Jamaica" data-code="876">Jamaica(+876)</option>
                                        <option value="Japan" data-code="81">Japan(+81)</option>
                                        <option value="Jordan" data-code="962">Jordan(+962)</option>
                                        <option value="Uzbekistan" data-code="7">Uzbekistan(+7)</option>
                                        <option value="Kenya" data-code="254">Kenya(+254)</option>
                                        <option value="Kiribati Republic (Gilbert Islands)" data-code="686">Kiribati Republic (Gilbert Islands)(+686)</option>
                                        <option value="Korea, Republic of (South Korea)" data-code="82">Korea, Republic of (South Korea)(+82)</option>
                                        <option value="North Korea" data-code="850">North Korea(+850)</option>
                                        <option value="Kuwait" data-code="965">Kuwait(+965)</option>
                                        <option value="Kyrgyz Republic" data-code="996">Kyrgyz Republic(+996)</option>
                                        <option value="Latvia" data-code="371">Latvia(+371)</option>
                                        <option value="Laos" data-code="856">Laos(+856)</option>
                                        <option value="Lebanon" data-code="961">Lebanon(+961)</option>
                                        <option value="Lesotho" data-code="266">Lesotho(+266)</option>
                                        <option value="Liberia" data-code="231">Liberia(+231)</option>
                                        <option value="Lithuania" data-code="370">Lithuania(+370)</option>
                                        <option value="Libya" data-code="218">Libya(+218)</option>
                                        <option value="Liechtenstein" data-code="423">Liechtenstein(+423)</option>
                                        <option value="Luxembourg" data-code="352">Luxembourg(+352)</option>
                                        <option value="Macao" data-code="853">Macao(+853)</option>
                                        <option value="Macedonia" data-code="389">Macedonia(+389)</option>
                                        <option value="Madagascar" data-code="261">Madagascar(+261)</option>
                                        <option value="Malawi" data-code="265">Malawi(+265)</option>
                                        <option value="Malaysia" data-code="60">Malaysia(+60)</option>
                                        <option value="Maldives" data-code="960">Maldives(+960)</option>
                                        <option value="Mali" data-code="223">Mali(+223)</option>
                                        <option value="Malta" data-code="356">Malta(+356)</option>
                                        <option value="Marshall Islands" data-code="692">Marshall Islands(+692)</option>
                                        <option value="Mauritania" data-code="222">Mauritania(+222)</option>
                                        <option value="Mauritius" data-code="230">Mauritius(+230)</option>
                                        <option value="Mexico" data-code="52">Mexico(+52)</option>
                                        <option value="Micronesia (F.S. of Polynesia)" data-code="691">Micronesia (F.S. of Polynesia)(+691)</option>
                                        <option value="Moldova" data-code="373">Moldova(+373)</option>
                                        <option value="Mongolia" data-code="976">Mongolia(+976)</option>
                                        <option value="Morocco" data-code="212">Morocco(+212)</option>
                                        <option value="Mozambique" data-code="258">Mozambique(+258)</option>
                                        <option value="Myanmar (former Burma)" data-code="95">Myanmar (former Burma)(+95)</option>
                                        <option value="Namibia (former South-West Africa)" data-code="264">Namibia (former South-West Africa)(+264)</option>
                                        <option value="Nauru" data-code="674">Nauru(+674)</option>
                                        <option value="Nepal" data-code="977">Nepal(+977)</option>
                                        <option value="Netherlands" data-code="31">Netherlands(+31)</option>
                                        <option value="Netherlands Antilles" data-code="599">Netherlands Antilles(+599)</option>
                                        <option value="St. Kitts/Nevis" data-code="869">St. Kitts/Nevis(+869)</option>
                                        <option value="New Caledonia" data-code="687">New Caledonia(+687)</option>
                                        <option value="New Zealand" data-code="64">New Zealand(+64)</option>
                                        <option value="Nicaragua" data-code="505">Nicaragua(+505)</option>
                                        <option value="Niger" data-code="227">Niger(+227)</option>
                                        <option value="Nigeria" data-code="234">Nigeria(+234)</option>
                                        <option value="Niue" data-code="683">Niue(+683)</option>
                                        <option value="North Mariana Islands (Saipan)" data-code="1670">North Mariana Islands (Saipan)(+1670)</option>
                                        <option value="Norway" data-code="47">Norway(+47)</option>
                                        <option value="Oman" data-code="968">Oman(+968)</option>
                                        <option value="Pakistan" data-code="92">Pakistan(+92)</option>
                                        <option value="Palau" data-code="680">Palau(+680)</option>
                                        <option value="Panama" data-code="507">Panama(+507)</option>
                                        <option value="Papua New Guinea" data-code="675">Papua New Guinea(+675)</option>
                                        <option value="Paraguay" data-code="595">Paraguay(+595)</option>
                                        <option value="Peru" data-code="51">Peru(+51)</option>
                                        <option value="Philippines" data-code="63">Philippines(+63)</option>
                                        <option value="Poland" data-code="48">Poland(+48)</option>
                                        <option value="Portugal (includes Azores)" data-code="351">Portugal (includes Azores)(+351)</option>
                                        <option value="Puerto Rico" data-code="1787">Puerto Rico(+1787)</option>
                                        <option value="Qatar" data-code="974">Qatar(+974)</option>
                                        <option value="Reunion (France)" data-code="262">Reunion (France)(+262)</option>
                                        <option value="Romania" data-code="40">Romania(+40)</option>
                                        <option value="Rwanda (Rwandese Republic)" data-code="250">Rwanda (Rwandese Republic)(+250)</option>
                                        <option value="Saipan" data-code="670">Saipan(+670)</option>
                                        <option value="San Marino" data-code="378">San Marino(+378)</option>
                                        <option value="Sao Tome and Principe" data-code="239">Sao Tome and Principe(+239)</option>
                                        <option value="Saudi Arabia" data-code="966">Saudi Arabia(+966)</option>
                                        <option value="Senegal" data-code="221">Senegal(+221)</option>
                                        <option value="Yugoslavia (discontinued)" data-code="381">Yugoslavia (discontinued)(+381)</option>
                                        <option value="Seychelles" data-code="248">Seychelles(+248)</option>
                                        <option value="Sierra Leone" data-code="232">Sierra Leone(+232)</option>
                                        <option value="Singapore" data-code="65">Singapore(+65)</option>
                                        <option value="Slovakia" data-code="421">Slovakia(+421)</option>
                                        <option value="Slovenia" data-code="386">Slovenia(+386)</option>
                                        <option value="Solomon Islands" data-code="677">Solomon Islands(+677)</option>
                                        <option value="Somalia" data-code="252">Somalia(+252)</option>
                                        <option value="South Africa" data-code="27">South Africa(+27)</option>
                                        <option value="Spain" data-code="34">Spain(+34)</option>
                                        <option value="Sri Lanka" data-code="94">Sri Lanka(+94)</option>
                                        <option value="St. Helena" data-code="290">St. Helena(+290)</option>
                                        <option value="St. Pierre &amp;(et) Miquelon (France)" data-code="508">St. Pierre &amp;(et) Miquelon (France)(+508)</option>
                                        <option value="Sudan" data-code="249">Sudan(+249)</option>
                                        <option value="Suriname" data-code="597">Suriname(+597)</option>
                                        <option value="Sweden" data-code="46">Sweden(+46)</option>
                                        <option value="Switzerland" data-code="41">Switzerland(+41)</option>
                                        <option value="Syrian Arab Republic (Syria)" data-code="963">Syrian Arab Republic (Syria)(+963)</option>
                                        <option value="Tahiti (French Polynesia)" data-code="689">Tahiti (French Polynesia)(+689)</option>
                                        <option value="Tanzania (includes Zanzibar)" data-code="255">Tanzania (includes Zanzibar)(+255)</option>
                                        <option value="Thailand" data-code="66">Thailand(+66)</option>
                                        <option value="Togo (Togolese Republic)" data-code="228">Togo (Togolese Republic)(+228)</option>
                                        <option value="Tokelau" data-code="690">Tokelau(+690)</option>
                                        <option value="Tonga" data-code="676">Tonga(+676)</option>
                                        <option value="Trinidad and Tobago" data-code="1868">Trinidad and Tobago(+1868)</option>
                                        <option value="Tunisia" data-code="216">Tunisia(+216)</option>
                                        <option value="Turkey" data-code="90">Turkey(+90)</option>
                                        <option value="Turkmenistan" data-code="993">Turkmenistan(+993)</option>
                                        <option value="Tuvalu (Ellice Islands)" data-code="688">Tuvalu (Ellice Islands)(+688)</option>
                                        <option value="Uganda" data-code="256">Uganda(+256)</option>
                                        <option value="Ukraine" data-code="380">Ukraine(+380)</option>
                                        <option value="United Arab Emirates" data-code="971">United Arab Emirates(+971)</option>
                                        <option value="United Kingdom" data-code="44">United Kingdom(+44)</option>
                                        <option value="Uruguay" data-code="598">Uruguay(+598)</option>
                                        <option value="Vanuatu (New Hebrides)" data-code="678">Vanuatu (New Hebrides)(+678)</option>
                                        <option value="Venezuela" data-code="58">Venezuela(+58)</option>
                                        <option value="Viet Nam" data-code="84">Viet Nam(+84)</option>
                                        <option value="Virgin Islands" data-code="1340">Virgin Islands(+1340)</option>
                                        <option value="Wallis and Futuna" data-code="681">Wallis and Futuna(+681)</option>
                                        <option value="Western Samoa" data-code="685">Western Samoa(+685)</option>
                                        <option value="Yemen Arab Republic (North Yemen)" data-code="967">Yemen Arab Republic (North Yemen)(+967)</option>
                                        <option value="Zaire" data-code="243">Zaire(+243)</option>
                                        <option value="Zambia" data-code="260">Zambia(+260)</option>
                                        <option value="Zimbabwe" data-code="263">Zimbabwe(+263)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input_field">
                                    <label>Phone ( फ़ोन )</label>
                                    <select name="country_code" class="custom-select" style="width: 60px;">
                                        <option value="91">+91</option>
                                    </select>
                                    <input type="tel" class="phon_field vfphone" name="mobile">
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input_field vtgender">
                                    <label>Gender ( लिंग )</label>

                                    <select class="custom-select gender" name="gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Third Gender">Third Gender</option>

                                    </select>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input_field vtage">
                                    <label>Age ( आयु )</label>
                                    <input type="number" min="1" name="age" id="age" maxlength="3">

                                </div>
                            </div>
                        </div>

                        <div class="form-grow row">
                            <div class="col-md-6">
                                <div class="input_field vtstate">
                                    <label>State ( राज्य )</label>
                                    <select class="custom-select volunteerstate" name="state">
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                        <option value="Daman and Diu">Daman and Diu</option>
                                        <option value="Delhi" selected="">Delhi</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Ladakh">Ladakh</option>
                                        <option value="Lakshadweep">Lakshadweep</option>
                                        <option value="Puducherry">Puducherry</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input_field vtcity">
                                    <label>City ( शहर )</label>
                                    <input type="text" name="city">

                                </div>
                            </div>
                        </div>

                        <div class="form-group row">

                            <div class="col-md-12">
                                <label class="d-block w-100 f_size_16"> Have you been a member of AAP before ? ( क्या आप पहले AAP के सदस्य रहे हैं ? )</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="alreadyappyes" value="1" name="alreadyapp" class="custom-control-input">
                                    <label class="custom-control-label f_size_16" for="alreadyappyes">Yes ( हां )</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="alreadyappno" value="0" name="alreadyapp" class="custom-control-input" checked="checked">
                                    <label class="custom-control-label f_size_16" for="alreadyappno">No ( ना )</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center mt-5">
                            <button type="submit" class="submit_btn">Submit </button>
                        </div>
                        <!-- <div class="form-group text-center mt-5">
                    <a href="JavaScript:void(0);" class="submit_btn">Proceed <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div> -->

                    </div>

                </form>




            </div>
        </div>
        <!-- signup form area -->


    </div>
